:root{
    --blue-gray: #7C99AC; /* primary font color */
    --light-pink: #EAFFD0; /* hero background color */
    --light-grey: #D3DEDC;
    --light-navy: #92A9BD; /* secondary font color */
}

body{
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
}

img{
   width: 50vh;
}


.title{
    border: solid;
    padding: 1rem;
    border-radius: 12px;
    border-color: var(--blue-gray);
    font-size: 5rem;
    color: var(--blue-gray);
    border-width: .1em;
}

.hero-txt{
    color: var(--blue-gray);
    flex-basis: 30%;
    font-size: 2em;
}


.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0.5em;
    background-color: var(--light-pink);
    align-items: center;
    /* background-image: url(./imgs/gpa-quilt.jpg); */
}

.hero-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
   
}

